<section>

    <div class="container" >
       
        <center>
        <div class="row" style="width: 600px;margin-top: 70px;">
            <div class="col">
                <div class="wrapper">
                    <div class="row">
                        <div class="col">
                            <h2>ADD EMPLOYEE</h2>
                        </div>
                    </div>
                     <form method="POST" action="/addemp">
                        <table class="table table-borderless">
                            <tr>
                                <td><input type="text" name="name" class="form-control" placeholder="Name"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="email" class="form-control" placeholder="Email"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="phone" class="form-control" placeholder="Phone"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="address" class="form-control" placeholder="Address"></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="company" class="form-control" placeholder="Company"></td>
                            </tr>
                            <tr>
                                <td><input type="submit" class="btn form-control btn-primary" value="ADD" ></td>
                            </tr>
                        </table>
                 </form>
                </div>
               
            </div>
        </div>
        </center>
    </div>
    

</section>